<div class="row">
	<div class="col-sm-9">
		<h3>Forum</h3><br>
		<% @forum_threads.each do |forum_thread| %>
			<div class="blog-post">
			  <h4><%= link_to forum_thread.subject, forum_thread_path(forum_thread) %></h4>
			  <small class="text-secondary">
			  	Posted by 
			  	<a href="#"><%= forum_thread.user.email %></a>
			  	on <i><%= forum_thread.created_at.strftime("%B, %d, %Y") %></i>
			  </small>
			  <hr>
			</div>
		<% end %>
	</div>

	<div class="col-sm-3">
		<div class="form-group">
			<%= search_form_for @q, html: {class: 'form-inline'} do |f| %>
			  <%= f.search_field :subject_cont, placeholder: 'Search ...', class: 'form-control col-sm-12' %>
			<% end %>
	  </div>
	  <div class="form-group">
			<%= link_to 'New Thread', new_forum_thread_path, class: 'btn btn-outline-success col-sm-12'%>
	  </div>
	</div>
</div>
